<template>
    <div>
        <div v-show="!loading" class="field">
            <div class="control">
                <div class="select">
                    <select v-model="selected" @change="getChartData(selected)">
                        <option v-for="(name, value) in this.months" :value="value">
                            {{ name }}
                        </option>
                    </select>

                </div>
            </div>
        </div>

        <div :class="[loading ? 'chart chart--loading' : 'chart']">
            <div v-show="loading" class="chart__loader">Загрузка графика...</div>
            <bar-chart v-if="!loading" :chart-data="data" :height="100" :options="options"></bar-chart>
        </div>
    </div>
</template>

<script>
    import BarChart from './BarChart'

    export default {
        components: {
            BarChart,
        },

        props: ['site'],

        data() {
            return {
                loading: false,
                data: [],
                selected: null,
                months: [],
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                precision: 0,
                            },
                        }],
                    },
                },
            }
        },

        mounted() {
            this.getChartData(this.getDate())
        },

        methods: {
            getChartData(date) {
                this.loading = true

                setTimeout(() => {
                    axios.get(`/sites/${this.site.id}/stats?date=${date}`)
                        .then(({data: {chart, months, selectedMonth}}) => {
                            this.data = chart
                            this.months = months
                            this.selected = selectedMonth
                            this.loading = false
                        })
                        .catch(() => {
                            this.loading = false
                        })
                }, 1000)
            },

            getDate(date = new Date()) {
                const month = ('0' + (date.getMonth() + 1)).slice(-2)
                return `${date.getFullYear()}-${month}`
            },
        },
    }
</script>