<template>
    <div class="field">
        <label class="label" for="site-list">Список получателей</label>
        <div class="control">
            <div class="select">
                <select name="site_id" id="site-list" v-model="siteId" @change="count">
                    <option value="">Все подписчики</option>
                    <option v-for="site in this.sites" :value="site.id" @click="setSubscriberCount(site)">
                        {{ site.domain }} - ({{ site.subscribers_count }} подписчиков)
                    </option>
                </select>
            </div>
        </div>

        <div class="main column is-paddingless">
            <p class="title is-4">
                Сегментация {{ this.getText }}
            </p>
            <input type="hidden" name="subscriber_count" :value="this.subscriberCount">

            <div class="field" v-if="checkEmpty(this.browsers)">
                <label class="label" for="browser-list">Браузеры</label>
                <div class="control">
                    <div class="select">
                        <select name="filter_browser_id" id="browser-list" v-model="browserId" @change="count">
                            <option value="">Ничего не выбрано</option>
                            <option v-for="(name, value) in this.browsers" :value="value">
                                {{ name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field" v-if="checkEmpty(this.countries)">
                <label class="label" for="country-list">Страны</label>
                <div class="control">
                    <div class="select">
                        <select name="filter_country_id" id="country-list" v-model="countryId" @change="count">
                            <option value="">Ничего не выбрано</option>
                            <option v-for="(name, value) in this.countries" :value="value">
                                {{ name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field" v-if="checkEmpty(this.languages)">
                <label class="label" for="country-list">Языки</label>
                <div class="control">
                    <div class="select">
                        <select name="filter_language_id" id="language-list" v-model="languageId" @change="count">
                            <option value="">Ничего не выбрано</option>
                            <option v-for="(name, value) in this.languages" :value="value">
                                {{ name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field" v-if="checkEmpty(this.os)">
                <label class="label" for="browser-list">Платформы</label>
                <div class="control">
                    <div class="select">
                        <select name="filter_os_id" id="os-list" v-model="osId" @change="count">
                            <option value="">Ничего не выбрано</option>
                            <option v-for="(name, value) in this.os" :value="value">
                                {{ name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field" v-if="checkEmpty(this.variables)">
                <label class="label" for="browser-list">Переменные</label>
                <div class="control">
                    <div class="select">
                        <select name="filter_variable_id" id="variable-list" v-model="variableId" @change="count">
                            <option value="">Ничего не выбрано</option>
                            <option v-for="(name, value) in this.variables" :value="value">
                                {{ name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        props: ['sites', 'browsers', 'countries', 'languages', 'os', 'variables'],

        data() {
            return {
                subscriberCount: 0,
                text: '',
                siteId: '',
                browserId: '',
                countryId: '',
                languageId: '',
                osId: '',
                variableId: '',
            }
        },

        computed: {
            // checkForShow() {
            //     return this.siteId && (
            //         this.checkEmpty(this.browsers) ||
            //         this.checkEmpty(this.countries) ||
            //         this.checkEmpty(this.os) ||
            //         this.checkEmpty(this.languages) ||
            //         this.checkEmpty(this.variables)
            //     )
            // },
            getText() {
                return this.text && `- (${this.text})`
            },
        },

        methods: {
            setSubscriberCount(selectedSite) {
                this.subscriberCount = selectedSite.subscribers_count
            },

            checkEmpty(obj) {
                return Object.keys(obj).length > 0
            },

            count() {
                axios.post('/tasks/count', {
                    site_id: this.siteId,
                    browser_id: this.browserId,
                    country_id: this.countryId,
                    language_id: this.languageId,
                    os_id: this.osId,
                    variable_id: this.variableId,
                }).then(({data: {count, text}}) => {
                    this.subscriberCount = count
                    this.text = text
                })
            },
        },
    }
</script>
