@import '../../node_modules/bulma/bulma.sass';

.is-justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.chart {
  min-height: 300px;

  &--loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.chart__loader {
  font-size: 2rem;
}

.main {
  margin-top: 1rem;
}
